*{
	margin: 0%;
	padding: 0%;
}
header{ background-color: blue;
	width: 100%;
	height: 20%;
	text-align: center;
}
footer{width: 100%;
	height: 20vh; background-color:chartreuse; float: left;
	text-align: center;}
nav{
	width: 30%;
	height: 60vh;
	float: left; background-color: yellow;
}
section{width: 70%;
	height: 60vh;
	float: left; background-color: green;}


iframe{
	width:100%;
	height:100%;
}
legend{
font-weight:bold;
font-size:14px;	
}
fieldset{
	border:  2px black solid;
}





